*,*:before, *:after{
	margin: 0;
	padding: 0;
	font-family: consolas;
}
header
   {
	position: relative;
	justify-content: center;
	display: flex;
	align-items: center;
	min-height: 100vh;
	background:#00203FFF;
	
}
header::before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: #ADEFD1FF;
}
.cont{
  overflow: hidden;
  position: relative;
  width: 1400px;
  height: 600px;
   border-radius: 50px 20px;
  background: #fff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

h2{
  text-align: center;
  overflow: hidden;
  background:#FA8072;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  letter-spacing: 3px;
  font: 30px/32px 'Roboto', sans-serif;
    padding: 30px 0;;
    
}ul {
	background:#fff ;
	display:flex;
	align-items: center;
	justify-content: space-between;
}
ul li {
    width: 100px;
	margin:0 10px;
	padding:10px;

}	
ul li a{
	text-decoration: none;
	color: #000;
    border: 1px solid transparent;
	transition: 0.6s ease;
	cursor: pointer;
	}
ul li .fa{
	margin-right: 5px
	}	
ul li a:hover{
	background-color: #D3D3D3;
	color: #fff;
}
.sub-menu-1
{
	display: none;
}
ul li:hover .sub-menu-1{
	display: block;
	position: absolute;
	background-color: black;
	margin-top: 5px;
	margin-left: -10px;
}
ul li:hover .sub-menu-1 ul
{
	display: block;
	margin: 15px;
}
ul li:hover .sub-menu-1 ul li
{
	width: 200px;
	padding: 10px;
	border-bottom: 1px dotted #000;
    background: transparent;
    border-radius: 0
    text-align:left;
}
ul li:hover .sub-menu-1 ul li:last-child
{
	border-bottom: none;
}
ul li:hover .sub-menu-1 ul li a:hover
{
	color: #191970;
}
.fa-angle-right
{
	float: right;
	color: #000;
}
